<template>
    <div class="<%data.lowerName  %> ">
        <h1>{{msg}}</h1>
    </div>
</template>
<script>
export default {
    name:'<%data.Name %>',
    data() {
        return {
            msg:'hello,weiwei!'
        }
    },
    components:{

    },
    mixins:[],
    props:{

    },
    created(){

    },
    methods: {
        
    },
    computed:{

    }
}
</script>
<style scoped>

</style>